<html>
    <head> 
        <title>Default layout page</title>
    </head>
    <body>
        <div>Header of Razor Page</div>
        @RenderBody()
        <div>Footer: 2022 all right reserved To Shag Acedemy</div>
    </body>
</html>